<li class="question_in_list">

  <span class="q_stat"><div class="count"><%= question.votes.length %></div> <div class="counted">votes</div></span>
  <span class="q_stat"><div class="count"><%= question.answers.length %></div> <div class="counted">answers</div></span>
  <span class="q_stat"><div class="count"><%= question.views %></div> <div class="counted">views</div></span>
  <a class="q_title" href="/questions/<%= question.id %>"><%= question.title %></a>
  <div>
  <% if question.tags.length > 0 %>
  <% question.tags.each do |tag| %>
  <span class="single_tag"><a class="tag_link" href='/tags/<%= tag.id %>'><%= tag.name %></a></span>
  <% end %>
  <% else %>
  <span class="single_tag"><a class="tag_link" href='/tags'>tags</a></span>
  <% end %>
  <span id="created_by">Posted on <%= question.created_at.strftime('%B %e, %Y') %> by <a href='/users/<%= question.user.id %>'><%= question.user.username %></a></span>
  </div>
</li>
