<div class="single-answer">
    <div class="answer-body"><%= answer.body %></div>
    <div><%= answer.user.username %></div>
    <%= answer.created_at.strftime("%m-%d-%Y") %>


    <div class="edit_answer_section">
      <a class="edit_answer_link" class= "flapjack-button" href="/questions/<%=@question.id%>/answers/<%= answer.id%>/edit">Edit this post</a>
    </div>

    <form id="delete_answer_form" method="post" action="/questions/<%= @question.id %>/answers/<%= answer.id %>">
      <input id="answer_delete" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete answer" class="flapjack-button">
    </form>

    <div class="edit-form-container">
    </div>
  </div>
